body
{
	font-size: 25px;
	margin: 0;
	text-align: center;
}

img
{
	height: 250px;
	margin: 10px;
	transition: width 2s, height 2s, transform 1.7s;
}

header
{
	padding-top:8px;
	height: 42px;
	background-color: green;
	color: white;
	margin-bottom: 20px;
}

footer
{
	padding-top:8px;
	margin-top: 20px;
	height: 42px;
	background-color: green;
	color: white;
}

#jeden
{
	filter:blur(2.5px);
}

img:hover
{
	width: 500px;
	height: 400px;
	filter:brightness(150%);
	transform: rotate(360deg);
	cursor: pointer;
}

#dwa
{
	filter:sepia(90%);
}

#trzy
{
	filter: invert(140%);
}

table
{
	margin-left: auto;
	margin-right: auto;
}

#big
{
	width: 1100px;
	height: 810px;
}

#big:hover
{
	filter:none;
	transform: none;
	cursor: default;
}